@import '~tachyons/css/tachyons.min.css';

.control-panel .border {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

.display-panel .border {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

#innercircle {
	stroke:black;
	stroke-width:1px;
	fill: rgb(200,200,200);
}

#outercircle {
	stroke:black;
	stroke-width:1px;
	fill: rgb(80,80,80);
}


