@import '~tachyons/css/tachyons.min.css';

.control-panel > .border {
	border:1px black solid;
}

.display-panel > .border {
	border:1px black solid;
}

#innercircle {
	stroke:black;
	stroke-width:1px;
	fill: rgb(200,200,200);
}

#outercircle {
	stroke:black;
	stroke-width:1px;
	fill: rgb(80,80,80);
}


