@import '~tachyons/css/tachyons.min.css';

.control-panel .border {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

.display-panel .border {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

#innercircle {
	fill: rgb(200,200,200);
}

#outercircle {
	fill: rgb(50,50,50);
}